.post-text{
    padding:20px;
    padding-top:10px;
}

.post-attachment-link{
    background-color:#fff;
    border:1px solid #eee;
    color:#fff;
    padding:20px;
    margin:0 20px;
    border-radius: 5px;
    text-align: center;
}
